<template>
  <div 
    class="arrow"
    :class="{'arrows-move': on}"
  >
    <!--<img src="~/assets/images/arrow0.png" />-->
  </div>
</template>

<script>
export default {
  props: {
    on: {
      type: Boolean,
      default: false
    }
  }
}
</script>

<style>
.arrow{
  display:block;
  height: 35px;
  z-index: -1000;
  background: url("./../assets/images/arrow0.png");
  /*remove above if you want no arrows showing until spin is clicked.*/
}
.red-arrow{
  background: url("./../assets/images/red-arrow0.png");
}
.no-arrow{
  background: none;
}

.arrows-move {
    -webkit-animation: move 1s infinite;
}
.arrows-redmove{
  -webkit-animation: redmove 1s infinite;
}

@-webkit-keyframes move {
    0%  {background: url("./../assets/images/arrow0.png");}
    25% {background: url("./../assets/images/arrow1.png");}
    50% {background: url("./../assets/images/arrow2.png");}
    75% {background: url("./../assets/images/arrow3.png");}
    100% {background:url("./../assets/images/arrow0.png");}
}
@-webkit-keyframes redmove {
    0%  {background: url("./../assets/images/red-arrow0.png");}
    25% {background: url("./../assets/images/red-arrow1.png");}
    50% {background: url("./../assets/images/red-arrow2.png");}
    75% {background: url("./../assets/images/red-arrow3.png");}
    100% {background:url("./../assets/images/red-arrow0.png");}
}
</style>
