<template>
  <div 
    class="generator"
    
  >
    <img src="~/assets/images/gen01.png" class="block" :class="{'generator-on': (mw != 0 && mw != null) && on}" />
        <p 
      class="font-bold"
     >{{mw}} MW</p>
    <p class="font-bold" 
    >{{mvar}} Mvar</p>
  </div>
</template>

<script>
export default {
  props: {
    on: {
      type: Boolean,
      default: false
    },
    mw: null,
    mvar: null
  }
}
</script>

<style>
.generator-on {
    -webkit-animation: spin 2s infinite linear;
}

@-webkit-keyframes spin {
    0%  {-webkit-transform: rotate(0deg);}
    100% {-webkit-transform: rotate(360deg);}
}
</style>
