<template>
  <div 
    class="load"
  >
    <p 
      class="font-bold"
     >{{mw}} MW</p>
    <p class="font-bold" 
    >{{mvar}} Mvar</p>
  </div>
</template>

<script>
export default {
  props: {
    mw: null,
    mvar: null
  }
}
</script>

<style>
  p {
    width: 8rem;
  }
</style>