<template>
  <div 
    class="meter"
  >
    <img src="~/assets/images/meter-off.png"
      v-if="cross"
       />
    <img src="~/assets/images/meter.png" 
      v-if="!cross"
      class="block" 
      :class="{'redFilter': mw >= 50, 'blueFilter': mw <= 0}" 
      id="m" />
    <p 
      class="font-bold"
      :class="{
        'text-red-dark': mw >= 50,
        'text-blue-dark': mw <= 0
      }"
      :style="textStyle"
     >{{mw}} MW</p>
    <p class="font-bold" 
      :class="{
        'text-red-dark': mw >= 50,
        'text-blue-dark': mw <= 0
      }"
      :style="textStyle"
    >{{mvar}} Mvar</p>
  </div>
</template>

<script>
export default {
  props: {
    mw: null,
    mvar: null,
    textStyle: null,
    cross: false 
  }
}
</script>

<style>
  p {
    width: 8rem;
  }
.redFilter {
     filter: brightness(50%) sepia(100) saturate(100) hue-rotate(-25deg);
  }
.blueFilter {
     filter: brightness(50%) sepia(100) saturate(100) hue-rotate(200deg);
  }
</style>