<template>
  <div @click="onAttackTrigger" class="relay absolute border border-red" 
  :class="{'bg-red': !off.on, 'bg-white': off.on}" >
  </div>
</template>

<script>
export default {
    props: {
        onAttack: null,
        off: null
    },
    data: () => {
        return {
            attacked: false
        }
    },
    methods: {
        onAttackTrigger: function() {
            this.attacked = true
            this.onAttack()
        }
    }
}
</script>

<style>
.relay{
    width: 1rem;
    height: 1rem;
}
.relay:hover{
    background: darkred;
}
#relay1{
  margin-left: 39rem;
  margin-top: 2.2rem;
}
#relay2{
  margin-left: 34.5rem;
  margin-top: 9.7rem; 
}
</style>