<template>
  <section class="w-full">
    <div class="border border-black border-r-0 border-t-0 border-l-0 border-b-2 w-full pb-6 pl-6">
      <h1 class="title inline">
        Power-Grid
      </h1>

      
      <button
        class="border border-green-darker bg-green-lighter text-green-darker rounded px-4 py-2"
        @click="pause"
        :disabled="!processedData"
      >{{(on) ? 'Pause' : 'Start / Resume'}}</button>
      
      <button
        class="border border-red-dark bg-red-lighter text-red-dark rounded px-4 py-2"
        v-if="!on && index != 0"
        @click="reset"
      >Reset</button>

      <button
        class="border border-red-dark bg-red-lighter text-red-darker rounded px-4 py-2"
        @click="attackSetup = !attackSetup"
        v-if="processedData"
      >Setup Attack</button>
      

      <span v-if="!processedData" class="border border-grey-dark rounded py-2 pl-4"><input type="file" @change="onFileUpload" /></span>
    </div>
    
    <div class="p-6" v-if="processedData" id="canvas">  
      <img src="~/assets/images/BG.png" class="absolute" />
      <Generator :on="on" class="absolute w-12" id="gen1" :mw="processedData[index][15]" :mvar="processedData[index][16]" />
      <Generator :on="on" class="absolute w-12" id="gen2" :mw="processedData[index][13]" :mvar="processedData[index][14]" />
      <Generator :on="on" class="absolute w-12" id="gen3" :mw="processedData[index][17]" :mvar="processedData[index][18]" />

      <Meter class="absolute" id="meter1" :mw="processedData[index][3]" :mvar="processedData[index][4]" />
      <Meter class="absolute" id="meter2" :mw="processedData[index][1]" :mvar="processedData[index][2]" />
      <Meter class="absolute" id="meter3" :mw="processedData[index][9]" :mvar="processedData[index][10]" />
      <Meter class="absolute" id="meter4" 
        :mw="processedData[index][11]" :mvar="processedData[index][12]" 
        :textStyle="{marginLeft: '-3rem', marginTop: '-0.5rem', paddingBottom: '0.5rem'}"
      />
      <Meter class="absolute" :cross="index >= 500" id="meter5" :mw="processedData[index][5]" :mvar="processedData[index][6]" />
      <Meter class="absolute" :cross="index >= 500" id="meter6" 
        :mw="processedData[index][7]" :mvar="processedData[index][8]" 
        :textStyle="{marginLeft: '3rem', marginTop: '-0.5rem', paddingBottom: '0.5rem'}"
      />

      <Load class="absolute w-12" id="load1" :mw="processedData[index][19]" :mvar="processedData[index][20]" />
      <Load class="absolute w-12" id="load2" :mw="processedData[index][21]" :mvar="processedData[index][22]" />
      <Load class="absolute w-12" id="load3" :mw="processedData[index][23]" :mvar="processedData[index][24]" />

      <Relay id="relay1" :onAttack="triggerAttack" :off="relay1" />
      <Relay id="relay2" :onAttack="triggerAttack" :off="relay2" />

      <Arrows :on="on" class="absolute" id="arrow1" />
      <Arrows :on="on" class="absolute" id="arrow2" />
      <Arrows :on="on" class="absolute" id="arrow3" />
      <Arrows :on="on" :class="{'arrows-redmove': processedData[index][9] >= 50 && on, 'red-arrow': processedData[index][9] >= 50}" class="absolute" id="arrow4" />
      <Arrows :on="on" :class="{'arrows-redmove': processedData[index][9] >= 50 && on, 'red-arrow': processedData[index][9] >= 50}" class="absolute" id="arrow5" />
      <Arrows :on="on" :class="{'arrows-redmove': processedData[index][9] >= 50 && on, 'red-arrow': processedData[index][9] >= 50}" class="absolute" id="arrow6" />
      <Arrows :on="on" class="absolute" id="arrow7" />
      <Arrows v-if="processedData[index][5] != 0" :on="on" class="absolute" id="arrow8" />
      <Arrows v-if="processedData[index][5] != 0" :on="on" class="absolute" id="arrow9" />
      <Arrows :on="on" class="absolute" id="arrow10" />
      <Arrows :on="on" class="absolute" id="arrow11" />
      <Arrows v-if="processedData[index][3] != 0" :on="on" class="absolute" id="arrow12" />
      <Arrows v-if="processedData[index][3] != 0" :on="on" class="absolute" id="arrow13" />
      <Arrows v-if="processedData[index][3] != 0" :on="on" class="absolute" id="arrow14" />
      <Arrows v-if="processedData[index][5] != 0" :on="on" class="absolute" id="arrow15" />

<!-- class="mt-32 pl-2 w-12" -->
    </div>
    <div v-show="attackSetup" id="attackPane">
      <h2 class="text-center pt-2">Attack Setup</h2>
      <button
        class="border border-blue-dark bg-blue-lighter text-blue-darker rounded px-4 py-2 mb-2 ml-2"
        @click="relayAttackClicked = !relayAttackClicked"
      >Relay Attack</button>
      <div v-if="relayAttackClicked" class="ml-4 mb-4" id="relayAttackBox">
        Relay 1: <input type="checkbox" v-model="relay1.selected" />
        <br />
        Relay 2: <input type="checkbox" v-model="relay2.selected" />
        <button
          class="block border border-red-dark bg-red-lighter text-red-darker rounded px-4 py-2"
          @click="triggerAttackButton"
        >Trigger attack</button>
      </div>

      <hr />

      <button
        class="border border-grey-darker bg-grey text-grey-darker rounded px-4 py-2 ml-2"
        disabled
      >False Data Injection</button>


    </div>
  </section>
</template>

<script>
import Generator from '~/components/Generator.vue'
import Meter from '~/components/Meter.vue'
import Arrows from '~/components/Arrows.vue'
import Load from '~/components/Load.vue'
import Relay from '~/components/Relay.vue'

export default {
  components: {
    Generator,
    Meter,
    Arrows,
    Load,
    Relay
  },
  data: () => {
    return {
      on: false,
      fileContents: null,
      index: 0,
      attackSetup: false, //Display attack setup panel or not
      relayAttackClicked: false,
      relay1: {on: false, selected: false},
      relay2: {on: false, selected: false}
    }
  },
  computed: {
         processedData: function() {
           if(this.fileContents === null) {return null}
           console.log("Processing")
            var splitData = this.fileContents.split('\n')
            splitData = splitData.map(line => line.split(','))
            splitData.splice(0, 2)
            return splitData
        }
  },
  methods: {
    onFileUpload: function(event) {
      const reader = new FileReader()
      reader.onload = event => this.fileContents = event.target.result
      reader.onerror = error => reject(error)
      reader.readAsText(event.target.files[0])
      this.index = 0
    },
    sleep: function (time) {
      return new Promise((resolve) => setTimeout(resolve, time));
    },
    start: function() {
      this.on = true
      this.run2()
    },
    pause: function() {
      if(this.on) {
        this.on = false
      }
      else
      {
        console.log("restarting")
        this.on = true
        this.run2()
      }
    },
    run2: function() {
      let stop = this.stop
      let inc = this.inc
      let index = this.index
      let rec = this.run2
      let max = this.processedData.length
      let on = this.on
      setTimeout(function () {    
        if ((index <= 400) && on && index < 1000) {   
          inc();         //  Stops before the attack
          rec();             
        }
        else {
          // Had a stop here, removed it to make the sim look like it is still running
        }                        //  ..  setTimeout()
      }, 20)
    },
    inc: function() {
      return ++this.index
    },
    stop: function() {
      this.on = false
    },
    triggerAttack: function() {
      this.index = 500;
      this.relay1.on = true
      this.run2()
    },
    triggerAttackButton: function () {
      if(!this.relay1.selected && !this.relay2.selected) return
      this.index = 500
      if(this.relay1.selected) {this.relay1.on = true}
      if(this.relay2.selected) {this.relay2.on = true}
    },
    reset: function() {
      this.index = 0
      this.relay1.on = false
      this.relay2.on = false
    }
  }
}
</script>

<style>
.container {
  margin: 0px;
}

.title {
  font-family: 'Quicksand', 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-weight: 300;
  font-size: 100px;
  color: #35495e;
}
#attackPane {
  width: 20%;
  height: 999px;
  border-left: 1px solid black;
  float: right;
  margin-top: -3rem;
}

#relayAttackBox {
  border-left: 1px solid black;
  padding-left: 1rem;
}


#gen1 {
  margin-top: 7.4rem;
}
#gen2 {
  margin-left: 40.5rem;
  margin-top: 1.2rem;
}
#gen3 {
  margin-left: 17.6rem;
  margin-top: 21.4rem;
}

#meter1 {
  width: 4rem;
  margin-left: 8rem;
  margin-top: -0.5rem; 
}
#meter2 {
  width: 4rem;
  margin-left: 31rem;
  margin-top: -0.5rem;
}
#meter3 {
  width: 4rem;
  margin-left: 8rem;
  margin-top: 7rem; 
}
#meter4 {
  width: 4rem;
  margin-left: 15rem;
  margin-top: 11rem; 
}
#meter5 {
  width: 4rem;
  margin-left: 29rem;
  margin-top: 9rem; 
}
#meter6 {
  width: 4rem;
  margin-left: 24rem;
  margin-top: 14rem; 
}
#arrow1 {
  width: 4.5rem;
  margin-left: 1rem;
  margin-top: .4rem;
}
#arrow2 {
  width: 2.5rem;
  margin-left: 38rem;
  margin-top: 1.6rem;
}
#arrow3 {
  width: 2.5rem;
  margin-top: 7.8rem;
  margin-left: 3rem;
  -webkit-transform: rotate(180deg);
}
#arrow4{
  width: 2.5rem;
  margin-top: 7.9rem;
  margin-left: 5.5rem;
} 
#arrow5 {
  width: 7rem;
  margin-top: 9.7rem;
  margin-left: 10rem;
  -webkit-transform: rotate(32deg);
}
#arrow6 {
  width: 7rem;
  margin-left: 14.6rem;
  margin-top: 15rem; 
  -webkit-transform: rotate(72deg);
}
#arrow7 {
  width: 2rem;
  margin-left: 18.1rem;
  margin-top: 19.4rem;
  -webkit-transform: rotate(90deg);
}
#arrow8 {
  width: 6.3rem;
  margin-left: 31.7rem;
  margin-top: 9.1rem;
  -webkit-transform: rotate(180deg);
}
#arrow9 {
  width: 7.8rem;
  margin-left: 24.4rem;
  margin-top: 12rem; 
  -webkit-transform: rotate(135deg);
}
#arrow10 {
  width: 3.8rem;
  margin-left: 23.6rem;
  margin-top: 20.5rem; 
  -webkit-transform: rotate(270deg);
}
#arrow11 {
  width: 4.5rem;
  margin-left: 38rem;
  margin-top: 10.9rem;
  -webkit-transform: rotate(180deg);
}
#arrow12{
  width: 2.7rem;
  margin-left: 5.5rem;
  margin-top: .4rem;
}
#arrow13{
  width: 19.7rem;
  margin-left: 11.7rem;
  margin-top: .4rem;
}
#arrow14{
  width: 3rem;
  margin-left: 35rem;
  margin-top: .4rem;
}
#arrow15{
  width: 3rem;
  margin-left: 24rem;
  margin-top: 17rem; 
  -webkit-transform: rotate(90deg);
}

#load1 {
  margin-top: 13rem;
  margin-left: 40rem;
}
#load2 {
  margin-top: 2.5rem;
}
#load3 {
  margin-top: 22rem;
  margin-left: 27rem;
}
</style>
